<!DOCTYPE html>

<html>
    <head>
        <%- include('../partials/head'); %>
        <title><%= title %></title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <%- include('../partials/tophead'); %>
        <section class="text-blueGray-700">

        <%- include('../partials/headline'); %>
        <%- include('../partials/articlestruct'); %>
    </section>
    </body>

</html>