<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css">
</head>

    <body class="corp">
        <%- include('../partials/tophead'); %>

        <%- include('../partials/quicklinks'); %>

        <%- include('../partials/section2'); %>
        </div>
    </body>
</html>

